<h1>Here are your tasks:</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%if task.completed%>
      <i class="fa fa-check-square-o" aria-hidden="true"></i>
      <% else %>
      <i class="fa fa-square-o" aria-hidden="true"></i>
      <% end %>
      <%= link_to task.title, task_path(task) %>

      <%= link_to "Delete", task_path(task), method: :delete,
            data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>

<%= link_to "Add a task", new_task_path %>
